@font-face {
    font-family: "iconfont"; /* Project id 1954606 */
    src: url('//at.alicdn.com/t/c/font_1954606_zqpmtkxiou.woff2?t=1685504442068') format('woff2'),
    url('//at.alicdn.com/t/c/font_1954606_zqpmtkxiou.woff?t=1685504442068') format('woff'),
    url('//at.alicdn.com/t/c/font_1954606_zqpmtkxiou.ttf?t=1685504442068') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconweixin:before {
    content: "\e603";
}

.iconmima:before {
    content: "\e8b2";
}

.iconzhuye:before {
    content: "\e650";
}

.iconcc-close-crude:before {
    content: "\e62a";
}

.iconpersonalcenterclick:before {
    content: "\e608";
}

.iconPerson:before {
    content: "\e615";
}

.iconperson:before {
    content: "\e656";
}
